<section class="main-content default-padding shadow-off" style="background-color: #303440;" id="keep_in_touch">
  <div class="container" style="background-color: #303440;">
    <div class="row"  style="background-color: #303440;">
      <div class="col-md-12 textaligncenter">
        <h2 style="color: #ffffff;">Be the first to know!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-2 textaligncenter">
        <div class="text-block">
          <div class="lighter wpcf7">
            <h4 class="margin-30" style="color: #ffffff;">
              Given the incredible experience we had in <a href="/editions/2" style="text-decoration: underline;">previous</a> <a href="/editions/1" style="text-decoration: underline;">editions</a>, we try to make new Sumendi events a few times per year. We like to keep our friends up to date of what we are planning… can we count you in?
            </h4>
            <!-- Begin MailChimp Signup Form -->
            <form action="http://facebook.us3.list-manage1.com/subscribe/post?u=31ceec5ac4e32ae60bbe431f9&amp;id=2d506b6bd3"
                  method="post" class="margin-30">
              <div class="row">
                <div class="col-md-7">
                  <span>
                    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="your.lovely@email.com" style="width:100%">
                  </span>
                </div>
                <div class="blank_divider visible-xs visible-sm" style="height: 30px;"></div>
                <div class="col-md-5">
                  <input type="submit" value="Yes, I want to be your friend"
                         name="subscribe" id="mc-embedded-subscribe" class="button wpcf7-submit"  style="width:100%">
                </div>
              </div>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_31ceec5ac4e32ae60bbe431f9_2d506b6bd3" value="">
              </div>
            </form>
            <!--End mc_embed_signup-->
            <h4 style="color: #ffffff;">
               You'll be the first to know about new editions and we'll give you the chance to book before the public announcement.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>