<section class="main-content default-padding shadow-off" style="background-color: #e96045;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="testimonial-builder white">
          <div class="az-testimonials">
            <div class="az-testimonials-container">
              <div class="testimonial">
                <ul class="slides">
                  <li>
                    <p class="az-testimonial-quote">I've been there once.</p>
                    <span class="az-testimonial-source">29 guests, Nov 2013</span>
                  </li>
                  <li>
                    <p class="az-testimonial-quote">But when the time comes that a man has had his dinner, then the true man comes to the surface.</p>
                    <span class="az-testimonial-source">Mark Twain, Amazing People Ltd.</span>
                  </li>
                  <li>
                    <p class="az-testimonial-quote">What could possibly go wrong?</p>
                    <span class="az-testimonial-source">Napoleon, Waterloo</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>