---
layout: site

title: "Next Edition • Nov 15, 2014"
og_title: "A pop-up restaurant in Reykjavík happening just 4 times per year and serving the best Basque food with Icelandic ingredients &amp; inspiration"
og_image: "http://f.cl.ly/items/1L1m0p3w3C0N1O3D2t2C/P1030955.jpg"
og_description: "Next edition is happening on Saturday Nov 15, 2014 and we will serve a 7-course menu based on basque traditional recipes with icelandic ingredients and inspiration."

---

{% comment %}
  {% include editions/2/home/index.html %}
{% endcomment %}
{% include general/home.html %}
