<footer>
  <!-- Start Footer with Widgets -->
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="text-2" class="widget widget_text">
            <h3>About Sumendi</h3>
            <div class="textwidget">
              <p>
                Sumendi is an idea by <a href="http://aitor.is">Aitor</a> &amp; <a href="https://www.facebook.com/begonaestibaliz.sanchez">Bego</a>. Contact us at  <a href="mailto:hello@aitor.is" target="_blank">info@sumendi.is</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="social-widget-2" class="widget social_widget">
            <h3>Connect</h3>
            <a href="https://www.facebook.com/sumendi" target="_blank"><i class="font-icon-social-facebook"></i></a>
            <a href="http://twitter.com/sumendirest" target="_blank"><i class="font-icon-social-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Footer with Widgets -->

      <!-- Start Footer Credits -->
      <section id="footer-credits">
        <div class="container">
          <div class="row">
            <div class="col-md-12 textaligncenter">
              <p class="copyright">&copy; Copyright 2013 – {{ site.time | date: '%Y' }} Sumendi</p>
              <p class="credits"></p>
            </div>
          </div>
        </div>
      </section>
      <!-- Start Footer Credits -->


</footer>