<!-- Header -->
<header class="sticrky-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="logo">
          <a href="/" title="Sumendi"> Sumendi </a>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Mobile Menu -->
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>
        <!-- Standard Menu -->
        <div id="menu">
            <ul id="menu-nav">
              <li  class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="/#menu_edition_3">Next Edition</a>
              </li>
              <li  class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="/#menu_edition_3">Previously…</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="/editions/1">Sumendi #1</a>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="/editions/2">Sumendi #2</a>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="/editions/3">Sumendi #3</a>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Mobile Navigation Mobile Menu -->
<div id="navigation-mobile">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <ul id="menu-nav-mobile">
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/#keep_in_touch">Next Edition</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/#keep_in_touch">Previously…</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                      <a href="/editions/1">Sumendi #1</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                      <a href="/editions/2">Sumendi #2</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                      <a href="/editions/3">Sumendi #3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Navigation Mobile Menu -->