<section id="image-static">
  <div class="fullimage-container  titlize" style="background: url('http://f.cl.ly/items/2e0U0f0W2R3J331n1m0i/Saltfiskur.jpg') center top no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <span class="overlay-bg"></span>

    <div class="container pagize">
      <div class="row">
        <div class="col-md-8 col-md-push-2 textaligncenter">
          <h2>Sumendi</h2>
          <p class="page-caption">A pop-up restaurant in Reykjavík serving traditional Basque food with Icelandic ingredients & inspiration.</p>
          <p class="page-caption">Only on Restaurant Day, 16 November 2013.</p>
        </div>
      </div>
    </div>
  </div>
</section>