<section class="main-content default-padding shadow-off" style="background-color: #303440;" id="menu_opening_1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3 textaligncenter ">
        <div class="special-heading bolder" style="padding-bottom: 20px;">
          <h1 style="color: #ffffff;" class="fancy default"><span>Menu</span></h1>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 style="color: #ffffff;" class="fancy default">Garlic soup cream with icelandic lobster</h3>
          <h3 style="color: #ffffff;" class="fancy default lighter"><em>Entreé icelandic translation</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 style="color: #ffffff;" class="fancy default">One lamb: Icelandic lamb shepperd's style</h3>
          <h3 style="color: #ffffff;" class="fancy default lighter"><em>Icelandic translation for 1st course</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 style="color: #ffffff;" class="fancy default">Two cods: Pil-Pil &amp; Bizkaina</h3>
          <h3 style="color: #ffffff;" class="fancy default lighter"><em>Icelandic translation for 2nd course</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 48px;">
          <h3 style="color: #ffffff;" class="fancy default">Three milks: boiled, fried and cocktail</h3>
          <h3 style="color: #ffffff;" class="fancy default lighter"><em>Icelandic translation for desert</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h4 style="color: #ffffff;" class="fancy default lighter"><em>Price: 4.900 ISK</em></h4>
        </div>
      </div>
    </div>
  </div>
</section>