<section class="main-content default-padding shadow-off" style="background-color: #e96045;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-builder white">
          <div class="az-testimonials">
            <div class="az-testimonials-container">
              <div class="testimonial">
                <ul class="slides">
                  <li>
                    <p class="az-testimonial-quote">"I've been there a few times."</p>
                    <span class="az-testimonial-source">Said no one, Ever</span>
                  </li>
                  <li>
                    <p class="az-testimonial-quote">What could possibly go wrong?</p>
                    <span class="az-testimonial-source">Napoleon, Waterloo</span>
                  </li>
                  <li>
                    <p class="az-testimonial-quote">Thank you for all yoclients.</p>
                    <span class="az-testimonial-source">Sonia Sales, Product Manager</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>