<section class="main-content default-padding shadow-off">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-md-push-4 textaligncenter">
            <div class="bolder" style="padding-bottom: 10px;">
              <h1 class="fancy default"><span>The idea</span></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box listed-left animated-content move_right animate">
              <div class="icon"><i class="font-icon-question"></i></div>
                <div class="box-text">
                  <h4>WHAT</h4>
                  <p>We'll be serving a <a href="#menu_opening_1">4-course menu</a> based on <a href"">basque traditional</a> recipes with icelandic ingredients &amp; inspiration.</p>
                  <p>Our mission is to <strong>rediscover and promote</strong> the connection between the Basque Country and Iceland.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="box listed-left animated-content move_right animate">
              <div class="icon"><i class="font-icon-calendar"></i></div>
              <div class="box-text">
                <h4>WHEN</h4>
                <p> Sumendi will be open only one day during the next Restaurant Day on <strong>November 16 2013</strong>.</p>
                <p>If the experience is good we may open upto <a href="http://www.restaurantday.org/en/info/about/" target="_blank">4 times per year</a> but that it's still to be decided.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box listed-left animated-content move_right animate">
              <div class="icon"><i class="font-icon-location"></i></div>
              <div class="box-text">
                <h4>WHERE</h4>
                <p>We want you to feel at home eating at Sumendi and the simplest way to do it is <strong>using our own home!</strong> </p>
                <p>We will be hosting lunch and dinner at our place in Holtsgata 13. Here is <a href="#map">a map</a> to find us.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>