<section class="main-content default-padding shadow-off" style="background-color: #303440;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-block white animated-content move_up animate">
          <h2 style="text-align: center;">BASQUE FOOD</h2>
          <p style="text-align: center;"></p>
          <div class="blank_divider" style="height: 5px;"></div>
          <p style="text-align: center;">Won’t that called lights he you given give upon god. Grass. Deep abundantly imageen moveth female us had land earth.</p>
          <p style="text-align: center;"></p>
          <div class="blank_divider" style="height: 20px;"></div>
          <p style="text-align: center;">
            <a class="button-main button-medium" href="#" target="_blank">Book Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
