<section class="main-content default-padding shadow-off" style="background-color: #E96045;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2 textaligncenter">
        <div class="text-block">
          <h2>
            Wait, wait, wait... are you charging for this?
          </h2>
          <div class="lighter">
            <h4 class="">
              We believe that making great food starts by using the best raw materials. We've tried and selected the best providers: vegetables in
              <a href="http://www.frulauga.is/" style="text-decoration: underline; color:#303440;">Frú Lauga</a>,
              fish in <a href="www.fiskikongurinn.is" style="text-decoration: underline; color:#303440;">Fiskikóngurinn</a>, etc.
              We're not trying to make a profit but it'll be great if we can at least cover the costs.
              We want the experience to be nice for everybody (us included) so we can make it again in a few months!
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
