
<section id="image-static">
  <div class="fullimage-container  titlize" style="background: url('http://f.cl.ly/items/1F3W121E0x0Y1e0M1b1q/hero_fish_white.png') center top no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container ">
      <div class="row">
          <div class="col-md-6 ">
            <div class="box listed-left">
              <h3>Basque food</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box listed-left">
              <div class="icon"><i class="font-icon-compass"></i></div>
              <div class="box-text">
                <h4>SEA CONNECTION</h4>
                <p>
                  Basques and Icelanders are sea people. Actually the first contact between our peoples
                </p>
              </div>
            </div>
            <div class="box listed-left animated-content move_right animate">
              <div class="icon"><i class="font-icon-airplane"></i></div>
              <div class="box-text">
                <h4>TRADITION &amp; INNOVATION</h4>
                <p>Said multiply together were landeorm are have give i replenish. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
            <div class="box listed-left animated-content move_right animate">
              <div class="icon"><i class="font-icon-new"></i></div>
              <div class="box-text">
                <h4>DEVELOPER-FRIENDLY API</h4>
                <p>Said multiply together toque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>