
<section class="main-content">
  <div class="fullimage-container  titlize" style="background: url('http://f.cl.ly/items/1F3W121E0x0Y1e0M1b1q/hero_fish_white.png') center top no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-push-1 textaligncenter">
          <div class="text-block" style="padding: 70px 0 0px;">
            <h2>
              Basques &amp; Icelanders
            </h2>
            <div class="lighter">
              <h4>
                Basques and Icelanders are sea people. Actually the first contact between our two nations was the direct consequence of fishing activities. Basques were hunting whales and catching fish in Icelandic waters as early as 1610. With time we started to understand each other better and even created <a href="https://en.wikipedia.org/wiki/Basque-Icelandic_pidgin">a shared pidgin</a>. There were <a href="https://en.wikipedia.org/wiki/Sp%C3%A1nverjav%C3%ADgin">some bumps on the road</a> but, hey, no hard feelings.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-comment"></i></div>
              <div>
                <h4>LANGUAGE</h4>
                <p>
                  Our languages are not precisely mainstream.<br>
                  Coming from a long oral traditions in both cases, Basque's origin <a href="https://en.wikipedia.org/wiki/Basque_language#Hypotheses_on_connections_with_other_languages">is a mistery</a> even for professional linguists and Icelandic centuries-long isolation and small number of speakers makes it <a href="https://en.wikipedia.org/wiki/History_of_the_Icelandic_language">a linguistic treasure</a>. <em>(BTW… Sumendi means Eldfjall in basque)</em>.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-feather"></i></div>
              <div>
                <h4>TRADITION</h4>
                <p>
                  We are small, weird nations. <br>
                  Basques <a href="https://en.wikipedia.org/wiki/Basque_rural_sports">lift a stone</a> and call it a sport. Icelanders are famous for <a href="https://en.wikipedia.org/wiki/J%C3%B3n_P%C3%A1ll_Sigmarsson">their immense strength</a>. Basques worship cod and have made <a href="https://en.wikipedia.org/wiki/History_of_the_Basque_people#Basque_sailors">long journeys</a> to catch it. Icelanders portrayed this great <a href="http://eng.forsaetisraduneyti.is/state-symbols/icelandic-coat-of-arms/history#Cod_emblem">fish on their seal</a> for centuries. We respect our traditions and see them as a precious gift.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-bolt"></i></div>
              <div>
                <h4>INNOVATION</h4>
                <p>
                  But we're not stuck in the past. <br>
                  Iceland made an amazing effort to introduce <a href="http://www.theguardian.com/world/2011/jun/09/iceland-crowdsourcing-constitution-facebook">more civil participation</a> in its new constitution (even if the thing <a href="http://www.opendemocracy.net/can-europe-make-it/thorvaldur-gylfason/democracy-on-ice-post-mortem-of-icelandic-constitution">is kinda frozen</a> now). Basque Country is the home of world's <a href="https://en.wikipedia.org/wiki/Mondrag%C3%B3n_Cooperative_Corporation">biggest workers co-operative</a> (even if they have <a href="http://www.economist.com/news/business/21589469-collapse-spains-fagor-tests-worlds-largest-group-co-operatives-trouble-workers">some problems</a> now). We do things and look forward.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>