
<section>
  <div class="fullimage-container  titlize" style="background: url('http://f.cl.ly/items/1F3W121E0x0Y1e0M1b1q/hero_fish_white.png') center top no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 textaligncenter">
          <div class="text-block">
            <h2>
              Basques &amp; Icelanders
            </h2>
            <div class="lighter">
              <h4>
                intro
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-compass"></i></div>
              <div class="box-text">
                <h4>SEA CONNECTION</h4>
                <p>
                  Basques and Icelanders are sea people. Actually the first contact between our two nations was the direct consequence of fishing activities. Basque were hunting whales and catching fish in Icelandic waters as early as 1610. With time we started to understand each other and even created <a href="https://en.wikipedia.org/wiki/Basque-Icelandic_pidgin">a shared pidgin</a>. There were <a href="https://en.wikipedia.org/wiki/Sp%C3%A1nverjav%C3%ADgin">some bumps on the road</a> but, hey, no hard feelings.
                </p>
                <p>fwefwe</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-compass"></i></div>
              <div class="box-text">
                <h4>TRADITION</h4>
                <p>
                  Basques and Icelanders are sea people. Actually the first contact between our two nations was the direct consequence of fishing activities. Basque were hunting whales and catching fish in Icelandic waters as early as 1610. With time we started to understand each other and even created <a href="https://en.wikipedia.org/wiki/Basque-Icelandic_pidgin">a shared pidgin</a>. There were <a href="https://en.wikipedia.org/wiki/Sp%C3%A1nverjav%C3%ADgin">some bumps on the road</a> but, hey, no hard feelings.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="icon"><i class="font-icon-compass"></i></div>
              <div class="box-text">
                <h4>INNOVATION</h4>
                <p>
                  Basques and Icelanders are sea people. Actually the first contact between our two nations was the direct consequence of fishing activities. Basque were hunting whales and catching fish in Icelandic waters as early as 1610. With time we started to understand each other and even created <a href="https://en.wikipedia.org/wiki/Basque-Icelandic_pidgin">a shared pidgin</a>. There were <a href="https://en.wikipedia.org/wiki/Sp%C3%A1nverjav%C3%ADgin">some bumps on the road</a> but, hey, no hard feelings.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>