<section id="image-static">
  <div class="fullimage-container  titlize" style="background: url('http://farm4.staticflickr.com/3807/10953288074_c080da1c88_k.jpg') center top no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <span class="overlay-bg"></span>

    <div class="container pagize">
      <div class="row">
        <div class="col-md-8 col-md-push-2 textaligncenter">
          <h2>Sumendi · Edition #1</h2>
          <p class="page-caption">This is a small summary of some of the amazing things that happened in Sumendi's first edition.</p>
          <p class="page-caption">Celebrated on Restaurant Day, 16 November 2013.</p>
        </div>
      </div>
    </div>
  </div>
</section>