<section class="main-content default-padding shadow-off" style="background-colfor: #303440;" id="menu_edition_1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3 textaligncenter ">
        <div class="special-heading bolder" style="padding-bottom: 20px;">
          <h1 style="colfor: #ffffff;" class="fancy default">
            <span>Sumendi</span>
          </h1>

          <h4 class="lighter">
            <span>Nov 16, 2013 • Edition #1</span>
          </h4>
        </div>
        <div class="blank_divider" style="height: 30px;"></div>

        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 class="fancy default">Garlic soup</h3>
          <h3 class="fancy default lighter"><em>With Icelandic lobster tails</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 class="fancy default">One lamb</h3>
          <h3 class="fancy default lighter"><em>Roasted Icelandic lamb fillet</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 24px;">
          <h3 class="fancy default">Two cods</h3>
          <h3 class="fancy default lighter"><em>Pil-Pil &amp; Bizkaina</em></h3>
        </div>
        <div class="special-heading" style="padding-bottom: 48px;">
          <h3 class="fancy default">Three milks</h3>
          <h3 class="fancy default lighter"><em>Cooked, fried &amp; cocktail</em></h3>
        </div>
      </div>
    </div>
  </div>
</section>