{% include editions/3/home/header.html %}

<div id="content">
  {% include editions/3/home/what.html %}
  {% include editions/3/home/inspiration.html %}
  {% include editions/3/home/menu.html %}
  {%comment%}
  {% include general/charging.html %}
  {%endcomment%}
  {% include editions/3/home/booking.html %}
  {% include general/basques_icelanders.html %}
  {% include general/newsletter_signup.html %}
  {% include general/where.html %}
  {%comment%}
  {% include editions/3/home/booking.html %}
  {% include general/testimonials.html %}
  {%endcomment%}
</div>